* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables*/
/*Placeholder*/
body .header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.25px;
}

body .header__title--light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.25px;
}

body .cards__card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0;
}

body .header__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0;
}

body .cards__card-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0;
}

body {
  height: 1029px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1285px) {
  body {
    height: 1206px;
  }
}
@media (max-width: 750px) {
  body {
    height: 1405px;
  }
}
body .header {
  width: 35%;
  display: flex;
  margin-bottom: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4D4F62;
}
@media (max-width: 1285px) {
  body .header {
    width: 50%;
  }
}
@media (max-width: 1285px) {
  body .header {
    width: 60%;
  }
}
@media (max-width: 750px) {
  body .header {
    width: 83%;
    margin-bottom: 60px;
  }
}
body .header__title {
  margin-bottom: 16px;
}
@media (max-width: 750px) {
  body .header__title {
    font-size: 24px;
  }
}
@media (max-width: 750px) {
  body .header__title--light {
    font-size: 24px;
  }
}
body .header__text {
  text-align: center;
}
body .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  margin-bottom: 74px;
}
@media (max-width: 1285px) {
  body .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 750px) {
  body .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
body .cards__card {
  width: 350px;
  height: 250px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 4px;
}
@media (max-width: 1285px) {
  body .cards__card {
    width: 314px;
  }
}
body .cards__card-title {
  color: #4D4F62;
  margin-bottom: 6px;
}
body .cards__card-description {
  color: #6A7178;
  margin-bottom: 32px;
}
body .cards__card-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
body .card--supervisor {
  grid-column: 1;
  grid-row: 1/span 2;
  align-self: center;
  border-top: solid 4px #44D3D2;
}
@media (max-width: 1200px) {
  body .card--supervisor {
    grid-column: 1/span 2;
    grid-row: 1;
    justify-self: center;
  }
}
body .card--team-builder {
  grid-column: 2;
  grid-row: 1;
  border-top: solid 4px #EA5454;
}
@media (max-width: 1200px) {
  body .card--team-builder {
    grid-column: 1;
    grid-row: 2;
  }
}
body .card--karma {
  grid-column: 2;
  grid-row: 2;
  border-top: solid 4px #FCAE4A;
}
@media (max-width: 1200px) {
  body .card--karma {
    grid-column: 2;
    grid-row: 2;
  }
}
body .card--calculator {
  grid-column: 3;
  grid-row: 1/span 2;
  align-self: center;
  border-top: solid 4px #549EF2;
}
@media (max-width: 1200px) {
  body .card--calculator {
    grid-column: 1/span 2;
    grid-row: 3;
    justify-self: center;
  }
}
body .footer {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
