* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
$grey-500 : #4D4F62;
$grey-400 : #6A7178;
$white : #FFFFFF;
$red : #EA5454;
$cyan : #44D3D2;
$blue : #549EF2;
$orange : #FCAE4A;

/*Placeholder*/
%text-preset-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.25px;
}

%text-preset-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.25px;
}

%text-preset-3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0;
}

%text-preset-4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0;
}

%text-preset-5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0;
}