@use 'settings';

body {
    height: 1029px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1285px){
        height: 1206px;
    }
    @media (max-width: 750px){
        height: 1405px;
    }

    .header {
        width: 35%;
        display: flex;
        margin-bottom: 74px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: settings.$grey-500;

        @media (max-width: 1285px){
            width: 50%;
        }
        @media (max-width: 1285px){
            width: 60%;
        }
        @media (max-width: 750px) {
            width: 83%;
            margin-bottom: 60px;
        }
        &__title {
            @extend %text-preset-1;
            margin-bottom: 16px;

            @media (max-width: 750px){
                font-size: 24px;;
            }
            &--light {
                @extend %text-preset-2;

                @media (max-width: 750px){
                    font-size: 24px;
                }
            }
        }
        &__text {
            @extend %text-preset-4;
            text-align: center;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        margin-bottom: 74px;

        @media (max-width: 1285px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 750px){
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }
        &__card {
            width: 350px;
            height: 250px;
            padding: 32px;
            border-radius: 8px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 4px;
            @media (max-width: 1285px){
                width: 314px;
            }
        }
        &__card-title {
            @extend %text-preset-3;
            color: settings.$grey-500;
            margin-bottom: 6px
        }
        &__card-description {
            @extend %text-preset-5;
            color: settings.$grey-400;
            margin-bottom: 32px;
        }
        &__card-image {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
    }
            
    .card {
        &--supervisor {
            grid-column: 1;
            grid-row: 1 / span 2;
            align-self: center;
            border-top: solid 4px settings.$cyan;

            @media (max-width: 1200px){
                grid-column: 1 / span 2;
                grid-row: 1;
                justify-self: center;
            }
        }
        &--team-builder {
            grid-column: 2;
            grid-row: 1;
            border-top: solid 4px settings.$red;

            @media (max-width: 1200px){
                grid-column: 1;
                grid-row: 2;
            }
        }
        &--karma {
            grid-column: 2;
            grid-row: 2;
            border-top: solid 4px settings.$orange;

            @media (max-width: 1200px){
                grid-column: 2;
                grid-row: 2;
            }
        }
        &--calculator {
            grid-column: 3;
            grid-row: 1 / span 2;
            align-self: center;
            border-top: solid 4px settings.$blue;

            @media (max-width: 1200px){
                grid-column: 1 / span 2;
                grid-row: 3;
                justify-self: center;
            }
        }
    }

    .footer {
        text-align: center;
    }
}

